body{
	font-family: 'Arial', sans-serif;
	margin: 20px;
	line-height: 1.5;
	color: #000;
	font-size: 12px;
	background: url("../img/background.jpg");
}

.container{
	max-width: 1128px;
	margin: 0 auto;
}

div{
	text-align: center;
}

img{
	max-width: 100%;

}

header{
	width: 100%;
	margin: 0 auto;
	
}

.banner{
	height: 300px;
	margin-bottom: 48px;
	margin-top: 30px;
	width: 0 auto;

}



.profile{
	
	height: 280px;
	margin-top: 45px;
}

article{
	width: 234px;
	float: left;
	margin-right: 213px;
	font-size: 16px;
	margin-top: 50px;
}

article:last-child{
	margin-right: 0;
}

.cursos{
	height: 200px;
	margin-top: 20px;

}

.jobs{
	height: 200px;
	margin-top: 20px;
}





