body{
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	color: #444;
	font-size: 100%;
}


a{
	text-decoration: none;
	font-size: 16px;
	color: #00CCFF;
}


a:hover{
	text-decoration: underline;
}


.container{
	max-width: 1128px;
	margin: 0 auto;
}


img{
	max-width: 100%;
}


header{
	width: 100%;
	height: 48px;
	margin-bottom: 36px;
	margin-top: 36px;
}


.logo{
	width: 234px;
	float: left;
}


nav{
    width: 840px;
    float: right;
}


nav ul{
    float: right;
}


nav li{
    font-size: 12px;
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
}


nav li a{
	color:  #999;
}


.banner{
		background: url("../img/banner.jpg");
		height: 450px;
		margin-bottom: 48px;
		position: relative;
}

.caixa{
	position: absolute;
	top: 48px;
	background: rgba(0,0,0,0.6);
	width: 480px;
	padding: 24px 14px 24px 40px;
}


h1{
	font-size: 40px;
	color: #FFF;
	margin-bottom: 0;
	margin-top: 0;
}


.caixa p{
	font-size: 18px;
	color: #FFF;
}


article{
	width: 264px;
	float: left;
	margin-right: 24px;
}


article:last-child{
	margin-right: 0;
}


h2{
	font-size: 24px;
}


p{
	text-align: justify;
}


footer{
	width: 100%;
	margin-top: 24px;
	margin-bottom: 24px;
}


.footer{
	font-size: 10px;
	margin-bottom: 0;
}
