body{
	font-family: 'Open Sans', sans-serif;
	background-color: #FAF8DA;
	margin: 0;
}


@font-face{
	font-family: Bronkenbrush;
	src:url('../fonts/Brokenbrush.ttf');
}


h2{
	font-family: 'Brokenbrush', sans-serif;
	color: #205D76;
	font-size: 30px;

}


header{
	text-align: center;
}


h1{
	font-size: 70px;
	color: #205D76;

}


.header{
	width: 650px;
}


article{
	display: flex; /* Tornar o conteúdo flexível, colocando o elemento um do lado do outro */
	margin: 50px auto;
	width: 450px;

}


.article{
	width: 200px;

}


div{
	margin-left: 30px;

}


ul{
	color: #FFC122;
	padding-left: 15px;

}


li{
	margin-bottom: 10px;

}


a{
	color: #EA6E2F;
	font-size: 20px;

}


footer{
		background-color: #FFC122;
		text-align: center;
		padding: 2px;

}


p{
	color: #FFFFFF;
	
}













